$ba-color: rgb(53, 53, 53);
$h1: #6fdee5;
$h2: #c38683;
$h3: #f6e595;
$h4: #d1c9c9;

* {
  font-family: "Source Code Pro", monospace;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color:rgb(211, 200, 155);
}

.all {
  position: relative;
}
.list {
  color: #969090;
  font-size: 12px;
  position: absolute;
  padding-left: 7px;
}
.stuff {
  background-color: $ba-color;
}

header {
  
  margin-top: 70px;

  .box1 {
    padding-top: 20px;
    margin-bottom: 50px;

    h1 {
      margin: 0px;
    }
    #heading {
      font-size: 90px;
      color: $h3;
    }
    .blue {
      color: $h1;
    }
    #name {
      font-size: 40px;
      color: $h4;
    }
    p {
      color: $h4;
      font-size: 16px !important;
      padding: 10px;
    }
  }
  img {
    height: 200px;
    border-radius: 30%;

  }
}
.container {
  .box2 {
    background-color: $ba-color;
    padding: 0px 60px;
    margin-bottom: 50px;
    padding-bottom: 20px;
  }

 
  .lift {
    padding-left: 50px;
  }
.color-red{
  color: $h2;
}
  .back-sign {
    color: $h1;
  }
  li {
    padding-bottom: 10px;
  }
  h3 {
    color: $h2;
    font-size: 25px;
    margin: 0px !important;
  }
  h5 {
    margin-bottom: 0px !important;
    color: $h3;
  }
  p {
    margin: 5px;
    font-size: 13px;
    color: $h4;
  }
  a {
    color: $h1;
    cursor: pointer;
  }
}


@media only screen and (max-width: 1100px) {

  all {
    margin: 0px;
    padding: 0px;
  }
  .header {
    justify-content: none;
    img{
      margin:200px;
    }
  
  }
  .box1{
    padding-left:50px;

  }
  .container {
    padding: 10px;
    .right{
      padding: 0px;
      align-items: center;
      display: flex;
    }
    .lift{
      padding: 0px;
      align-items: center;
      display: flex;
    }
  }
  img {
    
    margin-left:70px;
  }
}

@media only screen and (min-width: 1100px) {
 
  .right {
    padding-left: 50px;
  }
  body{
  min-height: 100vh;
  }
  .all{
  margin: 0px 250px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 100px;
    img{
    margin-right: 100px;
    }

  }
  .box2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  p {
    width: 70%;
  }
  
}
